In [2]:
import numpy as np
import pandas as pd

In [9]:
labels = ['a', 'b', 'c']
lista = np.array([10, 20, 30])
d = {'a': 10, 'b':20, 'c': 30}

In [5]:
d

{'a': 10, 'b': 20, 'c': 30}

In [6]:
lista

array([10, 20, 30])

In [7]:
labels

['a', 'b', 'c', 'd']

In [10]:
pd.Series(data=lista, index=labels)

a    10
b    20
c    30
dtype: int64

In [11]:
series = pd.Series(data=lista, index=labels)

In [12]:
series['a']

10

In [14]:
pd.Series([sum, len])

0    <built-in function sum>
1    <built-in function len>
dtype: object

In [15]:
series

a    10
b    20
c    30
dtype: int64

In [16]:
ser1 = pd.Series([1, 2, 3, 4], ['EUA', 'Alemanha', 'URSS', 'Japão'])

In [17]:
ser1

EUA         1
Alemanha    2
URSS        3
Japão       4
dtype: int64

In [18]:
ser2 = pd.Series([1, 2, 3, 4], ['EUA', 'Alemanha', 'Itália', 'Japão'])

In [19]:
ser2

EUA         1
Alemanha    2
Itália      3
Japão       4
dtype: int64

In [20]:
ser1 + ser2

Alemanha    4.0
EUA         2.0
Itália      NaN
Japão       8.0
URSS        NaN
dtype: float64